# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Misc
.DS_Store
.env
.npm
*.log

# IDEs
.vscode/
.idea/

# App Data (optional - remove if you want to commit the lottery history)
backend/data/
